body {
    font-family: Arial, sans-serif;
    height: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background:#412518a6;
}
nav {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    position: sticky;
    top:0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0;
    display: flex;
    justify-content: center;
}

nav a {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    gap: 20px; 
    color: white;

    text-shadow: -1px -1px 1px #523434, 1px -1px 1px #523434, -1px 1px 1px #523434, 1px 1px 1px #523434;
    text-decoration: none;

    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #523434;
}

#home {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/image1.webp') center center/cover no-repeat;
    color: white;
    height: 100vh;
    font-size: 42px;
    display: block !important;
    text-shadow: -1px -1px 1px #523434, 1px -1px 1px #523434, -1px 1px 1px #523434, 1px 1px 1px #523434;
    text-decoration: none;

}
#projects{
    background: url('images/image2.webp') center center/cover no-repeat;
}

#skills{
    background: url('images/image3.webp') center center/cover no-repeat;
}
#memes{
    background: url('images/image4.png') center center/cover no-repeat;
}
#projects,#home,#skills, #memes{
  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 2rem 0;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}
.project:last-child {
    border-bottom: none;
}
.project h3 {
    margin: 0;
}
.links {
    display: flex;
    gap: 1rem;
}
.links a {
    text-decoration: none;
    color: #007BFF;
    background-color: #e7f3ff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.links a:hover {
    background-color: #d1e7ff;
}
h1 {
    text-align: center;
}
code {
    color: #d1e7ff;
    position: relative;
    font-size: large;
    background-color: #333;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
#code .copy-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #3b3737;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
}
#code .copy-button:hover {
    background-color: #615b5b;
}
/* gallery */
div.gallery {
    height: 360px;
    margin: 5px;
    margin-left: 7%;
    margin-right: 0;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    border-radius: 8px;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    border-radius: 8px;
    height: 315px;
    width: auto;
    max-width: 350px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
div.desc {
    padding: 15px;
    text-align: center;
}

#images {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer {
    float: left;
    width: 100%;
    color: #fff;
    line-height: 180%;
    padding: 1em 0 1em 0;
    margin: 0;
    background: #333;
    text-align: center;
}
footer a {
    color: #fff;
    font-size: 24px;
    padding: 5px;
}
/* Input and select styling */
.memeselector{
    max-width: fit-content;
    margin-inline: auto;

}
#numMemes, #subredditSelect {
    padding: 10px;
    font-size: 1rem;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




button:hover {
    background-color: #0056b3;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Mobile */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    header {
        font-size: 1.2rem;
    }
    .container {
        width: 94%;
        margin: 1rem 0;
        padding: 0.5rem;
    }
    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #home{
        font-size: 26px;
    }
    div.gallery img {

        height: 315px;
        max-width: 300px;

    }
    div.gallery {
        height: 360px;
        min-width: 310px;
        float: left;
        margin-left: 0;
        border-radius: 8px;
    }
}