body{
    margin: 0;
    color: aliceblue;
}

.text{
    font-family: 'Courier New', monospace;
    padding-top: 200px;
    padding-left: 250px;
    font-size: 36px;
}
.hero {
    
    height: 100vh;
    background: linear-gradient(
      158deg,
      rgba(15, 37, 110, 1) 21%,
      rgba(130, 196, 118, 1) 87%
    );
    background-blend-mode: normal;
    transform: translate(0px, 0px);
    animation-name: home;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes home {

    to{
         background: linear-gradient(
            23deg,
            rgba(15, 37, 110, 1) 21%,
            rgb(219, 34, 43) 87%
          );
    }
  }